/*.mainsection{
		background-color:white;
		border-color:white;
		border-style: solid;
		border-width:5px 5px 5px 5px;
	}*/
p.courier {
    font-family: "Courier New", Courier, monospace;
}
.header {
    border-collapse: collapse;
    width: 93%;
	background-color: white;
	float: center;
	margin-left:50px;
	table-layout: fixed;
}
.header th {
    background-color: #0277bd;
    color: white;
	border-color: white;
	border-style: solid;
	border-width: 5px 5px 0px 5px;
	padding: 0px;
	font-size: 90%;
}

.header td {
	width: 100px;
}

a.navbar
	{
	text-decoration:none;
	color:white;
	font-weight:bold;
	}
	
	a:hover 
	{
	color: #006666;        
	}
	.nav 	
	{
	border-collapse: separate;
	border-spacing: 1px;
	}
	
	.nav_cell 
	{
	background-color: #1a237e;
	text-align: center;
	padding: 3px;
	border-style: dotted;
	border-width: thin;
	}

.Description
	{
		background-color: #90caf9;
		padding: 40px;
		border-color: #0d47a1;
		border-style: solid;
		border-width:thin 45px thin 50px;
		text-align: left;
	}
.Footer
	{
		background-color: #e3f2fd;
		border-color:#0d47a1;
		border-style: solid;
		border-width:0px 45px 0px 50px;
		padding: 10px;
	}	
	.Linkers
	{
		border-color:#e3f2fd;
		border-style: solid;
		border-width:0px 10px 0px 65px;
		padding: 5px;
	}	
	.navbar_foot {
		background-color: #e3f2fd;
		text-align: center;
		padding: 1px;
		text-decoration:none;
		color:black;
		font-weight:bold;
	}
.first{
		width:400px;
		float:left;
		text-align: left;
		margin-left: 180px;}
.second{
		text-align: left;}

	.pdb
	{
		width:100%;
		float:center;
		text-align: center;
		margin-left: 100px;
	}
	.middle
	{
		/*float:left;*/
		margin-top: 120px;
		margin-left: 50px;
		width:190px;
		text-align: center;
		color:#006666;
	}
	.upload
	{
		/*width:30%;*/
		text-align: center;
		margin-left: 650px;
		margin-top:10px;
		margin-bottom: 50px;	
	}	
	
	.table23
	{
		width:100%;
		height:200px;
		padding:10px;
		text-align:center;
		border-width:2px;	
		border-style:dotted;
		border-color:#006666;
	}
	
	.table23 tr
	{
		height:100px;
		text-align:center;
	}
	
	.table23 th
	{
		height:30px;
		text-align:center;
	}
	
	.table23 td{
		background-color: gray;
		}
	
	input[type=submit] {
    width: 80%;
    background-color: #006666;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	}

	input[type=submit]:hover {
    background-color:  #2C3539;
	}
	
	input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	}
	
	#main_theme{
	background-color: #e3f2fd;
	padding: 10px;
	}
